@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Content thats not visible but read by screen-readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Base Styles */
body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

header h1 {
  font-size: 3rem;
}

.app {
  max-width: 70em;
  margin-inline: auto;
}

.app-grid {
  display: grid;
  gap: 3em;
}

.form-controls {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  width: 90%;
  max-width: 35em;
  margin-inline: auto;
}

.form-add,
.form-edit {
  display: flex;
  background-color: rgb(243, 239, 239);
  align-items: center;
  border-radius: 0.25rem;
  overflow: hidden;
  font-size: 1.125rem;
}

.form-add button,
.form-edit button {
  border: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5em 1em;
}

.form-group,
.form-group {
  flex: 1;
}

.form-group input {
  width: 100%;
  padding: 0.5em;
  background: transparent;
  border: none;
}

.task-grid {
  width: 80%;
  margin-inline: auto;
}

.task-grid h2 {
  margin-bottom: 1em;
}

.task-container {
  height: 500px;
  overflow-y: scroll;
}

.task-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.task-container p {
  font-size: 1.5rem;
}

.task-actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

.task-actions > button {
  border: 2px solid transparent;
  padding: 0.25em 1em;
  border-radius: 0.25rem;
  display: block;
}

.task-actions button:first-child {
  background-color: rgb(197, 246, 191);
  color: green;
}

.task-actions button:first-child:focus {
  outline: 2px solid green;
  outline-offset: 1px;
}

.task-actions button:last-child {
  background-color: rgb(236, 197, 197);
  color: firebrick;
}

.task-actions button:last-child:focus {
  outline: 2px solid firebrick;
  outline-offset: 1px;
}

span {
  font-size: 0.875rem;
  color: #999;
}

.hidden {
  display: none;
}

/* @media (min-width: 45em) {
  .form-controls {
    grid-template-columns: repeat(2, 1fr);
  }
} */
